* {
  box-sizing: border-box;
}
body {
  background-image: url("../img/background.jpg");
  background-size: cover;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
/* main container div with trasparent black background */
.container {
  width: 1200px;
  /* se si vuole avere un'altezza fissa uncomment line code below */
  /* height: 1000px; */
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2%;
  padding: 100px 100px;
}
header {
  text-align: center;
}
.img-logo {
  width: 300px;
}
.title {
  color: Chartreuse;
}
nav {
  text-align: center;
  background-color: Chartreuse;
  padding: 10px;
  border-radius: 5px;
}
/* Margine tra le varie sezioni */
section{
  margin: 20px 0px;
}
.Scooter {
  display: inline-block;
  margin: 0px;
}
/* altezza del div di Carica Scooter */
.Charge{
  height: 30px;
  border-radius: 10px;
}
/* quantità carica scooter e colore */
.Charge.Gino22{
  background-color: green;
  width: 500px;
}
.Charge.Mike24{
  background-color: red;
  width: 100px;
}
.Charge.Fede126{
  background-color: yellow;
  width: 250px;

}
/* altezza font e simbolo freccia inizio frase */
section div {
  font-size: 20px;
}
/* prima dll'indirizzo cè una freccia */
section .indirizzo::before{
  content: "\21A6";
}
